.header
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    .dropdown.show.notifications-container
        i.fa.fa-bell.fa-lg.toggle-notifications#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .notify-head
                | Notifications 
                span 50
            .notify-content 
                ul.list-unstyled
                    li 
                        i.fa.fa-envelope-o.fa-lg
                        | You got an e-mail from our company.
                    li
                        i.fa.fa-money.fa-lg
                        | You got an money from our company.
                    li
                        i.fa.fa-thumbs-up.fa-lg
                        | You got a Like from our company.
                    li
                        i.fa.fa-plane.fa-lg
                        | You got a Plane ticket from our company.
                    li
                        i.fa.fa-recycle.fa-lg
                        | You got a re-cycle from our company.
            .notify-foot.text-center: a(href="#") View All Notifications
