* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    &.open {
        font-family: 'Open Sans', sans-serif;
    }
    &.public {
        font-family: 'Public Sans', sans-serif;
    }
    &.roboto {
        font-family: 'Roboto', sans-serif;
    }
    &.nanum {
        font-family: 'Nanum Myeongjo', serif;
    }
}
.page {
    min-height: 100vh;
    .content-area {
        min-height: 100vh;
        will-change: width;
        width: calc(100% - 250px);
        float: right;
        transition: 0.3s;
        background-color: #e7ebee;
        &.no-sidebar {
            width: 100%;
        }
        .page-head {
            padding:20px;
            margin-top: 20px;
            .page-title {
                font-weight: bold;
                color: #27ae60;
            }
            .page-description {

            }
        }
    }
}