* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.page {
    min-height: 100vh;
    .content-area {
        min-height: 100vh;
        will-change: width;
        width: calc(100% - 250px);
        float: right;
        transition: 0.3s;
        background-color: #e7ebee;
        &.no-sidebar {
            width: 100%;
        }
    }
}