- var pageTitle = "Charts"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        include pug/layout/styles
    body.someclasses
        .page.home-page
            include pug/components/settings-box
            include pug/layout/sidebar
            .content-area
                include pug/layout/header
                .container-fluid
                    .contente
                        include pug/components/page-head





        include pug/layout/scripts